name: Cypress Tests

on: [push]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      # Install NPM dependencies, cache them correctly
      # and run all Cypress tests
      - name: Cypress run
        uses: cypress-io/github-action@v4.2.0 # use the explicit version number
        with:
          build: npm run build
          start: npm run dev
      - name: Rollback Release
        if: failure()
        uses: author/action-rollback@stable
        with:
          # Using a known release ID
         release_id: ${{ steps.create_release.id }}
          # Using a tag name
         tag: 'v1.0.1'
          #  If the release does not exist but the tag does, setting this to true will remove the tag.
         #delete_orphan_tag: true
        env: 
          GITHUB_TOKEN: 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          
